{% extends 'base.html.twig' %}

{% block title %}Listing bibliotecas{% endblock %}

{% block body %}
{% include 'admin/sidenav.html.twig' %}

<div class="main">
    <table id="table_id" class="table display">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Creado</th>
                <th scope="col">Actualizado</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for biblioteca in bibliotecas %}
                <tr>
                    <th scope="row">{{ biblioteca.id }}</th>
                    <td>{{ biblioteca.nombre }}</td>
                    <td>{{ biblioteca.createdAt|date("d/m/Y H:i:s") }}</td>
                    <td>{% if biblioteca.updatedAt is defined and biblioteca.updatedAt is not null %} {{ biblioteca.updatedAt|date("d/m/Y H:i:s") }} {% else %} Sin actualizar {% endif %}</td>
                    <td><a class="btn btn-outline-primary btn-sm" href="{{ path('form_update_biblioteca', {'id': biblioteca.id}) }}">Editar</a></td>
                    <td><a class="btn btn-outline-danger btn-sm" href="{{ path('biblioteca_delete', {'id': biblioteca.id}) }}">Borrar</a></td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Modal -->
    <!--div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Borrar biblioteca </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Confirme que desea borrar el biblioteca
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary">Borrar</button>
        </div>
        </div>
    </div>
    </div-->
</div>

{% endblock %}